#body {
    display: grid;
    grid-template-columns: 25% 75%;
    width: 1200px;
    margin: 104px auto 0;
    grid-column-gap: 50px;
    grid-template-rows: 125px 125px 125px 125px 125px 125px;
}

.weeklyForecastContainer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
    height: 100%;
    display: flex;
    width: calc(100% - 50px);
}